@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@300;500;600&family=Lexend+Deca:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1 {
  display: none;
}

header {
  background-color: #CEF2DE;
  margin: 0%;
}

.logo {
  width: 40%;
  display: block;
  margin: auto;
  padding-top: 2%;
}

.menu {
  width: 90%;
  position: relative;
  display: none;
  margin-left: auto;
}

.menu i {
  position: absolute;
  top: -60px;
  right: 0;
  color: #F2A391;
}

.menu .dropdown {
  display: none;
  width: 30%;
  position: absolute;
  background-color: #F2DBCE;
  padding: 25px 16px;
  z-index: 5;
  top: -40px;
  right: -3px;
}

.menu .dropdown li {
  display: block;
  padding: 7% 0;
}

.menu:hover .dropdown {
  display: block;
}

ul {
  text-align: center;
  margin-top: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: #F2DBCE;
}

ul li {
  display: inline;
  font-size: 1em;
  font-weight: 600;
  padding: 1% 8%;
}

ul li a {
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  color: #777777;
}

ul li a:hover {
  font-weight: 700;
  color: black;
  border-bottom: black solid 3px;
}

.flyer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F2A391;
}

.flyer img {
  width: 40%;
  margin-left: 5%;
}

.flyer .contenedorFlyer {
  margin: 8% 8%;
}

.flyer .contenedorFlyer h2 {
  font-family: 'DM Serif Display', serif;
  display: inline;
  background-color: #F2C063;
  font-size: 4em;
}

.flyer .contenedorFlyer p {
  font-family: 'Jost', sans-serif;
  padding-top: 10%;
  font-size: 1.2em;
}

.tituloCategorias {
  font-size: 2em;
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-color: #CEF2DE;
          text-decoration-color: #CEF2DE;
  text-decoration-thickness: 5px;
  margin-top: 3%;
  margin-bottom: 2%;
}

.categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categorias .skincare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.categorias .skincare .imagenSkincare {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  width: 60%;
  border: #F8F7F5 10px solid;
}

.categorias .skincare .subtitulocategorias {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  font-size: 2em;
  font-family: 'Jost', sans-serif;
  background-color: #CEF2DE;
}

.categorias .skincare p {
  width: 50%;
  margin: auto;
  text-align: justify;
  text-align: center;
  font-size: 1em;
  font-family: 'Jost', sans-serif;
  background-color: #F2A391;
}

.categorias .skincare button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 30%;
  padding: 2%;
  font-size: 1.2em;
  background-color: black;
  border: none;
}

.categorias .skincare button:hover {
  cursor: pointer;
  background-color: #eccc91;
  color: black;
}

.categorias .skincare button a {
  text-decoration: none;
  color: #F8F7F5;
}

.categorias .makeup {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categorias .makeup .imagenMakeup {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  width: 60%;
  border: #F8F7F5 10px solid;
}

.categorias .makeup .subtitulocategorias {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  font-size: 2em;
  font-family: 'Jost', sans-serif;
  background-color: #CEF2DE;
}

.categorias .makeup p {
  width: 50%;
  margin: auto;
  text-align: justify;
  text-align: center;
  font-size: 1em;
  font-family: 'Jost', sans-serif;
  background-color: #F2A391;
}

.categorias .makeup button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 30%;
  padding: 2%;
  font-size: 1.2em;
  background-color: black;
  border: none;
}

.categorias .makeup button:hover {
  cursor: pointer;
  background-color: #eccc91;
  color: black;
}

.categorias .makeup button a {
  text-decoration: none;
  color: #F8F7F5;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F8F7F5;
  margin: 5% 0;
}

.contenedor .productosDestacados {
  width: 50%;
  background-color: #F8F7F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenedor .productosDestacados .producto {
  width: 40%;
  margin: 0 2%;
  padding: 2%;
}

.contenedor .productosDestacados .producto .imagenproducto {
  width: 80%;
  border: #F2DBCE 10px solid;
}

.contenedor .productosDestacados .producto .nombreProducto {
  padding: 3% 0;
  width: 75%;
  font-family: 'Jost', sans-serif;
  font-weight: 300;
}

.contenedor .productosDestacados .producto button {
  padding: 3% 10%;
  margin-left: 15%;
  background-color: #CEF2DE;
  border: none;
  font-family: 'Jost', sans-serif;
  font-size: 1em;
}

.contenedor .productosDestacados .producto button:hover {
  background-color: #F2A391;
  color: #F8F7F5;
}

.contenedor .productosDestacados .producto button a {
  text-decoration: none;
  color: black;
}

.contenedor .cajapequeña {
  width: 50%;
  position: relative;
  background-color: #CEF2DE;
}

.contenedor .cajapequeña .tituloProductos {
  position: absolute;
  top: 2%;
  left: 13%;
  z-index: 20;
  font-family: 'DM Serif Display', serif;
  display: block;
  font-size: 3em;
  background-color: #F2A391;
}

.contenedor .cajapequeña .imagenModelo {
  position: absolute;
  bottom: 5%;
  left: 10%;
  border: #F8F7F5 solid 10px;
  height: 80%;
}

.contenedorFlex {
  display: none;
}

.ventajas {
  font-size: 2em;
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-color: #CEF2DE;
          text-decoration-color: #CEF2DE;
  text-decoration-thickness: 5px;
  margin-top: 3%;
}

.contenedor2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #F2A391;
  width: 70%;
  height: 200px;
  margin: auto;
  margin-top: 2%;
  padding: 2%;
  border-radius: 35px;
}

.contenedor2 .contenedorIconos {
  position: relative;
  width: 70%;
  height: 100%;
  padding: 2%;
}

.contenedor2 .contenedorIconos .iconos {
  position: absolute;
  top: 0;
  padding: 5%;
  width: 50%;
  height: auto;
}

.contenedor2 .contenedorIconos .icono2 {
  position: absolute;
  top: 3;
  width: 50%;
  left: 25%;
  padding: 5%;
}

.contenedor2 .contenedorIconos .textoIconos {
  position: absolute;
  top: 60%;
  left: 15%;
  font-family: 'Jost', sans-serif;
  font-size: 1.2em;
  background-color: #F2C063;
  text-align: center;
}

.ofertas {
  position: relative;
  background-color: #F2DBCE;
  margin-top: 15%;
  padding: 23% 0;
}

.ofertas .imagen1 {
  position: absolute;
  top: -10%;
  left: 35%;
  width: 25%;
  z-index: 2;
  border: #F8F7F5 solid 10px;
}

.ofertas .imagen2 {
  width: 25%;
  position: absolute;
  top: 30%;
  left: 15%;
}

.ofertas .imagen3 {
  position: absolute;
  top: 10%;
  left: 60%;
  width: 30%;
}

.ofertas .titulobanner {
  position: absolute;
  top: 10%;
  left: 10%;
  font-family: 'DM Serif Display', serif;
  font-size: 5em;
  color: #F8F7F5;
  background-color: #F2C063;
  z-index: 200;
}

.ofertas .textobanner {
  z-index: 20;
  display: inline;
  width: 25%;
  position: absolute;
  top: 58%;
  left: 45%;
  font-family: 'DM Serif Display', serif;
  font-size: 2.5em;
  text-align: center;
  color: #F8F7F5;
  background-color: #F2C063;
}

.ofertas .botonbanner {
  z-index: 25;
  position: absolute;
  top: 72%;
  left: 75%;
  padding: 1%;
  font-family: 'Jost', sans-serif;
  font-size: 1.5em;
  text-align: center;
  background-color: black;
  border: none;
  cursor: pointer;
}

.ofertas .botonbanner:hover {
  background-color: #F8F7F5;
}

.ofertas .botonbanner a {
  text-decoration: none;
  color: #F8F7F5;
}

.ofertas .botonbanner a:hover {
  color: black;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 5%;
  padding: 5%;
  background-color: #807e7e;
}

footer .contenedor3 {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .contenedor3 a img {
  height: 100%;
}

footer .contenedor3 .redesSociales {
  padding-top: 20%;
}

footer .contenedor3 .redesSociales .titulosfooter {
  margin-bottom: 2%;
  font-family: 'Jost', sans-serif;
  font-size: 1.2em;
  color: #F8F7F5;
  border-bottom: #F8F7F5 solid 3px;
}

footer .contenedor3 .redesSociales .instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
  padding-top: 2%;
}

footer .contenedor3 .redesSociales .instagram a {
  width: 20%;
  height: 80%;
}

footer .contenedor3 .redesSociales .instagram a img {
  width: 50%;
}

footer .contenedor3 .redesSociales .instagram p {
  font-family: 'Jost', sans-serif;
  font-size: 1em;
  color: #F8F7F5;
}

footer .contenedor3 .redesSociales .facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
}

footer .contenedor3 .redesSociales .facebook a {
  width: 20%;
  height: 50%;
}

footer .contenedor3 .redesSociales .facebook a img {
  width: 50%;
}

footer .contenedor3 .redesSociales .facebook p {
  font-family: 'Jost', sans-serif;
  font-size: 1em;
  color: #F8F7F5;
}

footer .contenedor3 .redesSociales .twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
}

footer .contenedor3 .redesSociales .twitter a {
  width: 20%;
  height: 50%;
}

footer .contenedor3 .redesSociales .twitter a img {
  width: 50%;
}

footer .contenedor3 .redesSociales .twitter p {
  font-family: 'Jost', sans-serif;
  font-size: 1em;
  color: #F8F7F5;
}

footer .linksRapidos {
  width: 30%;
}

footer .linksRapidos .link {
  display: block;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  padding: 4% 8%;
}

footer .linksRapidos .link a {
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  color: #F8F7F5;
}

footer .linksRapidos .link a:hover {
  font-weight: 700;
  color: #F8F7F5;
  border-bottom: #F8F7F5 solid 3px;
}

footer .location {
  width: 30%;
}

footer .location .titulosfooter {
  margin-bottom: 2%;
  font-family: 'Jost', sans-serif;
  font-size: 1.2em;
  color: #F8F7F5;
  border-bottom: #F8F7F5 solid 3px;
}

footer .location .locacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 5%;
}

footer .location .locacion img {
  width: 7%;
  height: 7%;
  padding-right: 10%;
  padding-top: 2%;
}

footer .location .locacion p {
  width: 80%;
  font-family: 'Jost', sans-serif;
  font-size: 1em;
  color: #F8F7F5;
}

footer .location .whatsup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2%;
}

footer .location .whatsup img {
  padding-right: 10%;
  width: 10%;
}

footer .location .whatsup p {
  font-family: 'Jost', sans-serif;
  font-size: 1em;
  color: #F8F7F5;
  padding-top: 2%;
}

@media (max-width: 1440px) {
  header nav ul li {
    font-size: 1.5em;
  }
}

@media (max-width: 1024px) {
  .flyer img {
    width: 30%;
    height: 70%;
    margin-top: 1%;
  }
  .flyer .contenedorFlyer h2 {
    font-size: 2.5em;
  }
  .flyer .contenedorFlyer p {
    padding-top: 5%;
    font-size: 1em;
  }
  .skincare {
    width: 40%;
  }
  .makeup {
    width: 40%;
  }
  .contenedor .productosDestacados .producto {
    width: 42%;
  }
  .contenedor .productosDestacados .producto .nombreProducto {
    width: 90%;
  }
  .contenedor .cajapequeña .tituloProductos {
    width: 60%;
    font-size: 3em;
    text-align: center;
  }
  .contenedor .cajapequeña .imagenModelo {
    height: 63%;
    bottom: 10%;
  }
  .ofertas .titulobanner {
    font-size: 3.5em;
    left: 5%;
  }
  .ofertas .textobanner {
    font-size: 1.5em;
    top: 65%;
    left: 40%;
  }
  .ofertas .imagen1 {
    left: 32%;
  }
  .ofertas .imagen2 {
    left: 10%;
  }
  .ofertas .imagen3 {
    left: 57%;
  }
  .ofertas .botonbanner {
    left: 70%;
  }
}

@media (max-width: 768px) {
  header ul li {
    padding: 1% 4%;
  }
  .flyer .contenedorFlyer h2 {
    font-size: 1.8em;
  }
  .flyer .contenedorFlyer p {
    font-size: 0.8em;
  }
  .tituloCategorias {
    font-size: 1.5em;
  }
  .categorias .skincare .subtitulocategorias {
    font-size: 1.5em;
  }
  .categorias .skincare p {
    font-size: 0.8em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .categorias .skincare button {
    width: 45%;
    font-size: 1em;
  }
  .categorias .makeup .subtitulocategorias {
    font-size: 1.5em;
  }
  .categorias .makeup p {
    font-size: 0.8em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 62%;
  }
  .categorias .makeup button {
    width: 45%;
    font-size: 1em;
  }
  .contenedor .productosDestacados {
    width: 60%;
  }
  .contenedor .productosDestacados .producto .nombreProducto {
    font-size: 1em;
  }
  .contenedor .productosDestacados .producto button {
    margin-left: 5%;
  }
  .contenedor .cajapequeña .tituloProductos {
    font-size: 2em;
    left: 20%;
  }
  .contenedor .cajapequeña .imagenModelo {
    height: 58%;
    bottom: 20%;
    left: 5%;
  }
  .ventajas {
    font-size: 1.5em;
  }
  .contenedor2 {
    height: 150px;
    padding: 2% 5%;
  }
  .contenedor2 .contenedorIconos {
    height: 100%;
  }
  .contenedor2 .contenedorIconos .textoIconos {
    font-size: 1em;
    left: 5%;
    top: 50%;
  }
  footer .contenedor3 a img {
    height: 80%;
  }
  footer .contenedor3 .redesSociales .instagram a img, footer .contenedor3 .redesSociales .facebook a img, footer .contenedor3 .redesSociales .twitter a img {
    width: 70%;
  }
  footer .location .locacion img {
    width: 10%;
  }
  footer .location .whatsup img {
    width: 12%;
    height: 12%;
  }
}

@media (max-width: 480px) {
  .menu {
    display: inline-block;
  }
  nav {
    display: none;
  }
  .flyer img {
    margin-left: 2%;
  }
  .flyer .contenedorFlyer {
    margin: 3% 2%;
  }
  .flyer .contenedorFlyer h2 {
    font-size: 1.2em;
  }
  .flyer .contenedorFlyer p {
    font-size: 0.8em;
  }
  .categorias {
    margin-top: 5%;
  }
  .categorias .skincare .imagenSkincare {
    width: 70%;
  }
  .categorias .skincare p {
    width: 78%;
  }
  .categorias .skincare button {
    width: 65%;
    padding: 3% 0;
  }
  .categorias .makeup .imagenMakeup {
    width: 70%;
  }
  .categorias .makeup p {
    width: 80%;
  }
  .categorias .makeup button {
    width: 65%;
    padding: 3% 0;
  }
  .contenedor {
    display: none;
  }
  .contenedorFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-color: #F8F7F5;
    margin: 10% 0;
  }
  .contenedorFlex .productosDestacados2 {
    background-color: #F8F7F5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contenedorFlex .productosDestacados2 .producto2 {
    width: 40%;
    margin-left: 6%;
    padding: 2%;
  }
  .contenedorFlex .productosDestacados2 .producto2 .imagenproducto2 {
    width: 70%;
    border: #F2DBCE 10px solid;
    margin: 0 2%;
  }
  .contenedorFlex .productosDestacados2 .producto2 .nombreProducto2 {
    padding: 3% 0;
    width: 100%;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
  }
  .contenedorFlex .productosDestacados2 .producto2 button {
    padding: 3% 10%;
    margin-left: 15%;
    background-color: #CEF2DE;
    border: none;
    font-family: 'Jost', sans-serif;
    font-size: 1em;
  }
  .contenedorFlex .productosDestacados2 .producto2 button:hover {
    background-color: #F2A391;
    color: #F8F7F5;
  }
  .contenedorFlex .cajapequeña2 {
    padding-top: 5%;
    background-color: #CEF2DE;
  }
  .contenedorFlex .cajapequeña2 .tituloProductos2 {
    font-family: 'DM Serif Display', serif;
    display: inline;
    font-size: 1.8em;
    background-color: #F2A391;
    margin: 5% 20%;
  }
  .contenedorFlex .cajapequeña2 .imagenModelo2 {
    border: #F8F7F5 solid 10px;
    width: 50%;
    margin: 5% 23%;
  }
  .ofertas .textos .titulobanner {
    font-size: 2em;
    left: 2%;
    top: 6%;
  }
  .ofertas .textos .textobanner {
    font-size: 1em;
  }
  .ofertas .botonbanner {
    font-size: 1em;
  }
  .ofertas .imagen3 {
    left: 60%;
  }
  .ofertas .imagen1 {
    left: 36%;
  }
  .ofertas .imagen2 {
    left: 13%;
  }
  .contenedor2 {
    height: 110px;
    width: 85%;
    margin-top: 5%;
  }
  .contenedor2 .contenedorIconos {
    height: 90%;
  }
  .contenedor2 .contenedorIconos .iconos {
    width: 65%;
  }
  .contenedor2 .contenedorIconos .icono2 {
    width: 65%;
  }
  .contenedor2 .contenedorIconos .textoIconos {
    font-size: 0.8em;
    top: 60%;
    left: 3%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .contenedor3 {
    width: 60%;
  }
  footer .contenedor3 .redesSociales {
    padding-top: 3%;
  }
  footer .contenedor3 .redesSociales .titulosfooter {
    display: none;
  }
  footer .contenedor3 .redesSociales .instagram p {
    font-size: 0.8em;
  }
  footer .contenedor3 .redesSociales .instagram a {
    width: 15%;
    padding-left: 0;
  }
  footer .contenedor3 .redesSociales .instagram a img {
    width: 50%;
  }
  footer .contenedor3 .redesSociales .facebook p {
    font-size: 0.8em;
  }
  footer .contenedor3 .redesSociales .facebook a {
    width: 15%;
    padding-left: 0;
  }
  footer .contenedor3 .redesSociales .facebook a img {
    width: 50%;
  }
  footer .contenedor3 .redesSociales .twitter p {
    font-size: 0.8em;
  }
  footer .contenedor3 .redesSociales .twitter a {
    width: 15%;
    padding-left: 0;
  }
  footer .contenedor3 .redesSociales .twitter a img {
    width: 50%;
  }
  footer .linksRapidos {
    width: 31%;
  }
  footer .linksRapidos .link {
    padding: 10% 0;
  }
  footer .location {
    width: 95%;
  }
  footer .location .titulosfooter {
    font-size: 1em;
  }
  footer .location .locacion {
    padding-bottom: 0;
  }
  footer .location .locacion img {
    width: 4%;
    padding-right: 7%;
    padding-top: 0;
    padding-bottom: 2%;
  }
  footer .location .locacion p {
    font-size: 0.8em;
  }
  footer .location .whatsup img {
    width: 6%;
    padding-right: 5%;
  }
  footer .location .whatsup p {
    font-size: 0.8em;
    padding-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */