@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@300;500;600&family=Lexend+Deca:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1 {
  display: none;
}

header {
  background-color: #CEF2DE;
  margin: 0%;
}

.logo {
  width: 40%;
  display: block;
  margin: auto;
  padding-top: 2%;
}

.menu {
  width: 90%;
  position: relative;
  display: none;
  margin-left: auto;
}

.menu i {
  position: absolute;
  top: -60px;
  right: 0;
  color: #F2A391;
}

.menu .dropdown {
  display: none;
  width: 30%;
  position: absolute;
  background-color: #F2DBCE;
  padding: 25px 16px;
  z-index: 5;
  top: -40px;
  right: -3px;
}

.menu .dropdown li {
  display: block;
  padding: 7% 0;
}

.menu:hover .dropdown {
  display: block;
}

ul {
  text-align: center;
  margin-top: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: #F2DBCE;
}

ul li {
  display: inline;
  font-size: 1em;
  font-weight: 600;
  padding: 1% 8%;
}

ul li a {
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  color: #777777;
}

ul li a:hover {
  font-weight: 700;
  color: black;
  border-bottom: black solid 3px;
}

.registro {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5%;
  background-color: #F8F7F5;
}

.registro h2 {
  font-family: 'DM Serif Display', serif;
  font-size: 2em;
  display: inline-block;
  margin-bottom: 5%;
  text-align: center;
  background-color: #F2C063;
}

.registro h3 {
  margin: 5% 0 2% 0;
  font-family: 'Jost', sans-serif;
  font-size: 1.2em;
  display: inline-block;
  background-color: #F2A391;
}

.registro .datosContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Jost', sans-serif;
  font-size: 1em;
}

.registro .datosContacto input {
  background-color: #F2DBCE;
  border: none;
  padding: 2%;
}

.registro select {
  display: block;
  margin-top: 5%;
  padding: 2% 5%;
  width: 50%;
  background-color: #F2DBCE;
}

.registro .condiciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% 0;
  font-family: 'Jost', sans-serif;
  font-size: 1em;
}

.registro .condiciones input {
  margin-right: 5%;
  margin-top: 1%;
}

.registro button {
  width: 50%;
  padding: 1% 5%;
  margin-top: 2%;
  font-family: 'Jost', sans-serif;
  font-size: 1.2em;
  background-color: #F2A391;
  border: none;
  border-radius: 10px;
}

.registro button:hover {
  background-color: #CEF2DE;
}

.containerLogin {
  width: 40%;
  margin: 5%;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F8F7F5;
}

.containerLogin img {
  width: 30%;
  margin-left: 35%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.containerLogin .cajaLogin .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.containerLogin .cajaLogin .login input {
  width: 40%;
  margin-bottom: 3%;
  padding: 3% 2%;
  background-color: #F2DBCE;
  border: none;
  border-radius: 10px;
  font-family: 'Jost', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.containerLogin .cajaLogin .select {
  font-family: 'Jost', sans-serif;
  font-size: 1em;
  margin: 10% 5%;
}

.containerLogin .cajaLogin .select input {
  margin-right: 5%;
  margin-top: 1%;
}

.containerLogin .cajaLogin a {
  color: #F2A391;
}

.containerLogin .cajaLogin button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  margin-top: 5%;
  padding: 2% 5%;
  width: 30%;
  font-family: 'Jost', sans-serif;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  background-color: #F2A391;
  color: #F8F7F5;
  border-radius: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 5%;
  padding: 5%;
  background-color: #807e7e;
}

footer .contenedor3 {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .contenedor3 a img {
  height: 100%;
}

footer .contenedor3 .redesSociales {
  padding-top: 20%;
}

footer .contenedor3 .redesSociales .titulosfooter {
  margin-bottom: 2%;
  font-family: 'Jost', sans-serif;
  font-size: 1.2em;
  color: #F8F7F5;
  border-bottom: #F8F7F5 solid 3px;
}

footer .contenedor3 .redesSociales .instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
  padding-top: 2%;
}

footer .contenedor3 .redesSociales .instagram a {
  width: 20%;
  height: 80%;
}

footer .contenedor3 .redesSociales .instagram a img {
  width: 50%;
}

footer .contenedor3 .redesSociales .instagram p {
  font-family: 'Jost', sans-serif;
  font-size: 1em;
  color: #F8F7F5;
}

footer .contenedor3 .redesSociales .facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
}

footer .contenedor3 .redesSociales .facebook a {
  width: 20%;
  height: 50%;
}

footer .contenedor3 .redesSociales .facebook a img {
  width: 50%;
}

footer .contenedor3 .redesSociales .facebook p {
  font-family: 'Jost', sans-serif;
  font-size: 1em;
  color: #F8F7F5;
}

footer .contenedor3 .redesSociales .twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
}

footer .contenedor3 .redesSociales .twitter a {
  width: 20%;
  height: 50%;
}

footer .contenedor3 .redesSociales .twitter a img {
  width: 50%;
}

footer .contenedor3 .redesSociales .twitter p {
  font-family: 'Jost', sans-serif;
  font-size: 1em;
  color: #F8F7F5;
}

footer .linksRapidos {
  width: 30%;
}

footer .linksRapidos .link {
  display: block;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  padding: 4% 8%;
}

footer .linksRapidos .link a {
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  color: #F8F7F5;
}

footer .linksRapidos .link a:hover {
  font-weight: 700;
  color: #F8F7F5;
  border-bottom: #F8F7F5 solid 3px;
}

footer .location {
  width: 30%;
}

footer .location .titulosfooter {
  margin-bottom: 2%;
  font-family: 'Jost', sans-serif;
  font-size: 1.2em;
  color: #F8F7F5;
  border-bottom: #F8F7F5 solid 3px;
}

footer .location .locacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 5%;
}

footer .location .locacion img {
  width: 7%;
  height: 7%;
  padding-right: 10%;
  padding-top: 2%;
}

footer .location .locacion p {
  width: 80%;
  font-family: 'Jost', sans-serif;
  font-size: 1em;
  color: #F8F7F5;
}

footer .location .whatsup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2%;
}

footer .location .whatsup img {
  padding-right: 10%;
  width: 10%;
}

footer .location .whatsup p {
  font-family: 'Jost', sans-serif;
  font-size: 1em;
  color: #F8F7F5;
  padding-top: 2%;
}

@media (max-width: 1440px) {
  header nav ul li {
    font-size: 1.5em;
  }
}

@media (max-width: 1024px) {
  header nav ul .NavList {
    font-size: 1.5em;
    padding: 1% 7%;
  }
  .containerLogin .select input {
    margin: 2% 10%;
  }
  .containerLogin .cajaLogin a {
    display: block;
    margin: 2% 30%;
  }
}

@media (max-width: 768px) {
  header nav ul .NavList {
    font-size: 1em;
    padding: 1% 5%;
  }
  .registro {
    width: 70%;
  }
  .registro h2 {
    font-size: 1.8em;
  }
  .containerLogin {
    width: 70%;
  }
  .containerLogin .cajaLogin .select input {
    margin-left: 18%;
    margin-right: 5%;
    margin-top: 1%;
  }
  .containerLogin .cajaLogin a {
    margin-left: 36%;
  }
  footer .contenedor3 a img {
    height: 80%;
  }
  footer .contenedor3 .redesSociales .instagram a img, footer .contenedor3 .redesSociales .facebook a img, footer .contenedor3 .redesSociales .twitter a img {
    width: 70%;
  }
  footer .location .locacion img {
    width: 10%;
  }
  footer .location .whatsup img {
    width: 12%;
    height: 12%;
  }
  .flyer {
    height: 200px;
  }
  .flyer h2 {
    font-size: 3em;
    padding-top: 10%;
  }
}

@media (max-width: 480px) {
  .menu {
    display: inline-block;
  }
  nav {
    display: none;
  }
  .registro {
    width: 70%;
  }
  .registro h2 {
    font-size: 1.5em;
  }
  .containerLogin {
    width: 70%;
  }
  .containerLogin .cajaLogin .login input {
    width: 60%;
    font-size: 1.2em;
  }
  .containerLogin .cajaLogin .select {
    font-size: 0.8em;
  }
  .containerLogin .cajaLogin .select input {
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 1%;
  }
  .containerLogin .cajaLogin a {
    margin-left: 25%;
  }
  .containerLogin .cajaLogin button {
    font-size: 1.2em;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .contenedor3 {
    width: 60%;
  }
  footer .contenedor3 .redesSociales {
    padding-top: 3%;
  }
  footer .contenedor3 .redesSociales .titulosfooter {
    display: none;
  }
  footer .contenedor3 .redesSociales .instagram p {
    font-size: 0.8em;
  }
  footer .contenedor3 .redesSociales .instagram a {
    width: 15%;
    padding-left: 0;
  }
  footer .contenedor3 .redesSociales .instagram a img {
    width: 50%;
  }
  footer .contenedor3 .redesSociales .facebook p {
    font-size: 0.8em;
  }
  footer .contenedor3 .redesSociales .facebook a {
    width: 15%;
    padding-left: 0;
  }
  footer .contenedor3 .redesSociales .facebook a img {
    width: 50%;
  }
  footer .contenedor3 .redesSociales .twitter p {
    font-size: 0.8em;
  }
  footer .contenedor3 .redesSociales .twitter a {
    width: 15%;
    padding-left: 0;
  }
  footer .contenedor3 .redesSociales .twitter a img {
    width: 50%;
  }
  footer .linksRapidos {
    width: 31%;
  }
  footer .linksRapidos .link {
    padding: 10% 0;
  }
  footer .location {
    width: 95%;
  }
  footer .location .titulosfooter {
    font-size: 1em;
  }
  footer .location .locacion {
    padding-bottom: 0;
  }
  footer .location .locacion img {
    width: 4%;
    padding-right: 7%;
    padding-top: 0;
    padding-bottom: 2%;
  }
  footer .location .locacion p {
    font-size: 0.8em;
  }
  footer .location .whatsup img {
    width: 6%;
    padding-right: 5%;
  }
  footer .location .whatsup p {
    font-size: 0.8em;
    padding-top: 0;
  }
}
/*# sourceMappingURL=style4.css.map */